@page "/administracionpanel"
<h3>Administracion</h3>
<ul>
    <li><a href="/BoxesAdmin">Boxes</a></li>
    <li><a href="/UsersAdmin">Usuarios</a></li>
    <li><a href="/AlarmsAdmin">Alarmas</a></li>
</ul>
@code {

}
