@page "/changeadminpassword"
@inject DCMLocker.Client.Cliente.TLockerCliente cliente
@inject NavigationManager nav

<div class="form-group">
    <label><strong>Nueva contraseña</strong></label>
    <input type="password" @bind="password" class="form-control form-control-user" />
</div>
<div class="form-group">
    <label><strong>Repita la nueva contraseña</strong></label>
    <input type="password" @bind="repeatPassword" class="form-control form-control-user" />
</div>

<button type="button" class="btn btn-primary btn-user btn-block" @onclick="(() => change())">Cambiar contraseña</button>

@code {
    string password;
    string repeatPassword;

    public async Task change()
    {
        if (password == repeatPassword)
        {
            var r = await cliente.ChangeAdminPassword(password);
            if (r)
            {
                nav.NavigateTo("/configuracion");
            }
            else
            {
                alertaError("No fue posible el cambio");
            }
        }
        else
        {
            alertaError("Las contraseñas no coiciden");
        }
    }
    public async Task alertaError(string msg)
    {
        SweetAlertResult result = await Swal.FireAsync(new SweetAlertOptions
            {
                Title = msg,
                Icon = SweetAlertIcon.Warning,
                ShowCancelButton = false,
                ConfirmButtonText = "Eliminar",
            });

        if (!string.IsNullOrEmpty(result.Value))
        {

        }
        else if (result.Dismiss == DismissReason.Cancel)
        {

        }
    }
}
